:root.theme-dark {
  --page-background: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 2px,
      #000000 2px,
      #000000 4px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 2px,
      #000000 2px,
      #000000 4px
    );
  --page-background2: #004306;
  --color-header: #00cc14;
  --color-header2: #000000;
}

:root.theme-light {
  --page-background: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 2px,
      #1a1a1a 2px,
      #1a1a1a 4px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 2px,
      #1a1a1a 2px,
      #1a1a1a 4px
    );
  --page-background2: #e7e7e7;
  --color-header: #000000;
  --color-header2: #ffffff;
}

:root.theme-auto {
  --page-background: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 2px,
      #660000 2px,
      #660000 4px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 2px,
      #660000 2px,
      #660000 4px
    );
  --page-background2: #ffee00;
  --color-header: #ffee00;
  --color-header2: #660000;
}
